html,
body {
    width: 100%;
    height: 100%;
}

.none {
    display: none;
}

body {
    cursor: default;
}

.main {
    height: 100%;
    background: rgba(20,18,30);
}

.background {
    height: 504px;
    display: flex;
    align-items: center;
}

.category {
    display: flex;
    align-items: center;
    /* Div shape & size */
    height: 40px;
    width: 100%;
    /* border */
    border-bottom: .2px solid #fff ;
    border-width: thin;
}

.up {
    width: 100%;
    height: 40px;
}

.background,
.up {
    /* bg color */
    background: hsla(339, 100%, 55%, 1);
    background: linear-gradient(90deg, hsla(339, 100%, 55%, 1) 0%, hsla(197, 100%, 64%, 1) 100%);
    background: -moz-linear-gradient(90deg, hsla(339, 100%, 55%, 1) 0%, hsla(197, 100%, 64%, 1) 100%);
    /* background: -webkit-linear-gradient(90deg, hsla(339, 100%, 55%, 1) 0%, hsla(197, 100%, 64%, 1) 100%); */
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#FF1B6B", endColorstr="#45CAFF", GradientType=1 );
}

a.category {
    color: inherit;
    text-decoration: none;
    cursor: default;
}

a.category:hover,:active,:visited {
    color: inherit;
    text-decoration: none;
}

#songs,
.list,
.category {
    background-color: rgba(20,18,30);
}

.link-song {
    color: inherit;
    text-decoration: none;
    cursor: default;
}

.link-song:hover,:active,:visited {
    color: inherit;
    text-decoration: none;
}

#song-play {
    position: fixed; /*kalo lagunya udh byk ganti sticky*/
    bottom: 0;
    width: 100%;
    cursor: default;
}

.song-h5,
.up {
    display: flex;
    align-items: center;
}

#button,
#forward {
    display: flex;
    align-items: center;
    justify-content: center;
}

svg {
    font-size: 40px;
}
